html {
    overflow-y: scroll;
}

.gly-spin {
    -webkit-animation:  spin 0.5s infinite linear;
    -moz-animation:     spin 0.5s infinite linear;
    -o-animation:       spin 0.5s infinite linear;
    animation:          spin 0.5s infinite linear;
}
@-moz-keyframes     spin {  000% { -moz-transform: rotate(000deg); }
                            100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes  spin {  000% { -webkit-transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes       spin {  000% { -o-transform: rotate(000deg); }
                            100% { -o-transform: rotate(359deg); } }

@keyframes          spin {  000% { -webkit-transform: rotate(000deg); transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }


table.table {
    table-layout: fixed;
}

.clickable {
    cursor: pointer;
    background-color: #F5F5F5;
    overflow: hidden;
}

.clickable:hover {
    background-color: #E8E8E8;
    overflow: hidden;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.clickable.expanding,
.clickable.contracting,
.clickable.expanding:hover,
.clickable.contracting:hover,
.clickable.expanding[aria-expanded="true"]:hover,
.clickable.contracting[aria-expanded="true"]:hover {
    -webkit-transition: background-color 0.35s ease;
    -moz-transition: background-color 0.35s ease;
    -o-transition: background-color 0.35s ease;
    transition: background-color 0.35s ease;
}

.clickable[aria-expanded="true"] {
    background-color: #dff0d8;
    overflow: hidden;
}

.clickable[aria-expanded="true"]:hover {
    background-color: #d8e8d0;
}

.table.outer >tbody >tr >td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-left: 1px LightGrey solid;
    border-right: 1px LightGrey solid;
    overflow: hidden;
}

.table.outer >tbody >tr.hid > td {
    padding: 0;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 1px LightGrey solid;
}

.table.outer >thead >tr >th {
    border: 1px LightGrey solid;
}

.table >tbody+tbody {
    border-top: 1px LightGrey solid;
}

.table >thead >tr >th,
.table.outer >tbody:last-child,
.table.outer >tbody:last-child:first-child {
    border-bottom: 1px LightGrey solid;
}

.table.inner >tbody >tr >td {
    border: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
    font-size: small;
}

.table.inner >tbody >tr:first-child >td {
    border-top: 1px LightGrey solid;
    padding-top: 6px;
}

.table.inner >tbody >tr:first-child >td.butter {
    padding: 0px;
    padding-top: 6px;
    padding-right: 6px;
}

.table.inner >tbody >tr:last-child >td {
    padding-bottom: 8px;
}

.table {
    margin-bottom: 0px;
}

.invisible {
    display: none;
}

.row.gap {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h4.noMargin {
    margin: 0;
}

.btn.btn-xs.nofocus:focus {
    outline: none;
}

.btn.btn-xs.copyButton {
    -webkit-transition: background-color 0.125s ease;
    -moz-transition: background-color 0.125s ease;
    -o-transition: background-color 0.125s ease;
    transition: background-color 0.125s ease;
    -webkit-transition: color 0.125s ease;
    -moz-transition: color 0.125s ease;
    -o-transition: color 0.125s ease;
    transition: color 0.125s ease;
    width:6em;
}

pre.plain {
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: keep-all;
    border: none;
    background-color: inherit;
    padding: inherit;
    padding-left: 0;
    padding-bottom: 0;
    margin: inherit;
    color: #B02000;
}