html {
    overflow-y: scroll;
}

.gly-spin {
    -webkit-animation:  spin 0.5s infinite linear;
    -moz-animation:     spin 0.5s infinite linear;
    -o-animation:       spin 0.5s infinite linear;
    animation:          spin 0.5s infinite linear;
}
@-moz-keyframes     spin {  000% { -moz-transform: rotate(000deg); }
                            100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes  spin {  000% { -webkit-transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes       spin {  000% { -o-transform: rotate(000deg); }
                            100% { -o-transform: rotate(359deg); } }

@keyframes          spin {  000% { -webkit-transform: rotate(000deg); transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }

.clickable {
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

.open {
    border-bottom: 1px DarkGrey solid;
}

.bolder {
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0;
}

.topPad {
    padding-top: 10px;
}

.bottomPad {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.lastly {
    border: 1px DarkGrey solid;
}

div.borderedBody {
    border-right: 1px DarkGrey solid;
    border-left: 1px DarkGrey solid;
}

div.bordered {
    border-top: 1px DarkGrey solid;
    border-right: 1px DarkGrey solid;
    border-left: 1px DarkGrey solid;
}

.bottomBorder {
    border-bottom: 1px DarkGrey solid;
}

.lastLine {
    border-top: 1px DarkGrey solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fieldName {
    font-weight: bold;
}